
.recalculating {
  background-color: #CCC;
}

.hidden {
  display: none;
}

.invisible {
  visibility: none;
}

.ui-dialog, .ui-dialog label {
  font-size: 12px;
  line-height: 12px;
}

.ui-icon {
  float: left;
  margin-right: .3em;
}

.progress {
  height: 14px;
  margin-bottom: 10px;
}

.progress label {
  font-size: 8px;
}

.ui-state-highlight, .ui-state-error {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: .5em .7em;
}

.ui-state-highlight p, .ui-state-error p {
  margin: 0px;
}

.jslider {
  width: 50%;
}

.apParamsSummaryDataset {
  padding: 5px;
  border: 1px solid #ddd;
  background-color:#eee;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

p#about {
  width: 95%;
}

.apParamsSummaryDataset p {
  font-size: 13px;
  margin: 0px;
}

table.data td {
  font-size:12px;
}

div.downloadList div.entry {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
}

div.downloadList span {
  font-size: 14px;
  display: inline-block;
  padding: 5px;
}

div.downloadList span p {
  margin: 0;
}

div#beginHelp {
  color: #333;
  /*vertical-align: middle;
  text-align: center;*/
}